node_modules
**/node_modules
.git
.github
.husky
.next
**/.next
dist
**/dist
**/build
**/.turbo
**/.cache
*.log
.env*
!.env.example
.vscode
.idea
*.tsbuildinfo
**/*.tsbuildinfo
coverage
**/coverage
doc
docs
*.md
!apps/api/README.md
!apps/worker/README.md
